.katex-display {
    min-height: 100%;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}
@media (max-aspect-ratio: 2400/1850) {
    .katex-display::-webkit-scrollbar {
        display: none; /*在移动端不显示横向滚动条*/
    }
}

/* 设置滚动条样式 */
.katex-display::-webkit-scrollbar {
    height: 5px; /* 设置滚动条的高度 */
}

.katex-display::-webkit-scrollbar-thumb {
    background-color: #888; /* 设置滚动条的前景色（滑块颜色） */
    border-radius: 9px; /* 设置滑块的圆角 */
}

.katex-display::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* 设置鼠标悬停时的滑块颜色 */
}

.katex-display::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* 设置滚动条的轨道背景颜色 */
}
